<!DOCTYPE html>

<html lang="ja">
<% include template/_header %>
<body>
  <header>
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="#"><%=title %></a>
    </nav>
  </header>
  <div class="container">
  <p><%=description %></p>
    <main role="main">
      <% games.forEach(function(val, key){ %>
        <% if (key % 3 === 0) { %>
          <div class="row sortable">
        <% } %>
          <div class="col sortable-card">
              <div class="card">
                <div class="card-header">
                  <%= val.name %>
                  <a href="<%= twitter_url %><%= val.account %>"  target=”_blank”><img src="/images/twitter.png" alt="twitter" class="twitter-icon"></a>
                </div>
                <ul class="list-group list-group-flush info-list" id="<%= val.id %>"></ul>
              </div>
            </div>
          <% if (key % 3 === 2 || key === games.length-1) { %>
          </div>
        <% } %>
      <% }); %>
    </main>
  </div>

<% include template/_footer %>

</body>
</html>