<!DOCTYPE html>

<html lang="ja">
<% include template/_header %>
<body>
  <header>
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="#"><%=title %></a>
    </nav>
  </header>
  <div class="container">
  <p id="desc"><%=description %></p>
    <main role="main">
      <div class="card-columns sortable">
        <% games.forEach(function(val, key){ %>
        <% if (val.default) { %>
            <div class="col sortable-card">
                <div class="card">
                  <div class="card-header">
                    <%= val.name %>
                    <a href="<%= twitter_url %><%= val.account %>"  target=”_blank”><img src="/images/twitter.png" alt="twitter" class="twitter-icon"></a>
                  </div>
                  <ul class="list-group list-group-flush info-list" id="<%= val.id %>"></ul>
                </div>
              </div>
          <% } %>
          <% }); %>
        <div class="card empty-card">
          <i class="fa fa-plus-circle fa-5x add-card-icon" aria-hidden="true" data-toggle="modal" data-target="#add-card-modal"></i>
        </div>
      </div>
    </main>
  </div>

<% include template/_footer %>

<div class="modal fade" id="add-card-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">チェックするゲームを追加する</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <select class="form-control" id="add-card-select">
          <% games.forEach(function(val, key){ %>
            <% if (!val.default) { %>
              <option id="add-<%= val.id %>"><%= val.name %></option>
            <% } %>
          <% }); %>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="add-card-submit">追加</button>
      </div>
    </div>
  </div>
</div>

</body>
</html>